.env
.env.*
!.env.example
.env.sqlite-backup

.git
.gitignore
.github

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache
.phpunit.cache

.idea
.vscode
.cursor
.codex

tests
